<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-FilterIt-GPUImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-FilterIt.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Meetups-Alamofire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Meetups-SwiftyJSON.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Meetups.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F996D94C2367D7AB48DEE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B33190AB96831BABB770A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE06538CABF1A485FD3F9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A64A2152DB33F2DD5531229</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7E8F90D288B7092ACBA20E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
